{{/*  find image format  */}}
{{ $svg := .Destination | findRE "svg" }}
{{ $gif := .Destination | findRE "gif" }}
{{ $type := .Destination | replaceRE "(.*).(png|jpg|jpeg)" "$2" }}
{{ $imgMain := .Destination | replaceRE "(.*).(png|jpg|jpeg)" "$1" }}

{{/*  generate image variant paths  */}}
{{ $avif := print $imgMain ".avif" }}
{{ $webp := print $imgMain ".webp" }}
{{ $img := print $imgMain "." $type }}

{{/*  render SVG/GIF image markup  */}}
{{ if or (eq (index $svg 0) "svg") (eq (index $gif 0) "gif") }}
  <div class="img-wrap">
    <img
      src='{{ $img }}'
      alt="{{ .PlainText }}"
      loading="lazy"
    />
  </div>
{{/*  render progressive images markup  */}}
{{ else }}
  <picture class="img-wrap">
    <source srcset='{{ $avif }}' type="image/avif" />
    <source srcset='{{ $webp }}' type="image/webp" />
    <img
      src='{{ $img }}'
      alt="{{ .PlainText }}"
      loading="lazy"
    />
  </picture>
{{ end }}
