:root {
  --theme: #f6f4f2;
  --code-bg: #f6f4f2;
  --entry: rgb(238 237 235);
  --secondary: rgb(30, 30, 30);
}
main.main[data-home='true'] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  width: 100%;
}
main.main .post-entry {
  margin: 0 auto var(--gap);
  max-width: calc(var(--main-width) + var(--gap) * 2);
}
main.main .home-info,
section.home-entry-columns .entry-header {
  min-height: 20rem;
}
main.main .home-info {
  padding: 0 var(--gap);
}
section.home-entry-columns {
  align-items: flex-start;
  background-color: #eeedeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 32rem;
  width: 100%;
}
section.home-entry-columns .entry-content {
  height: 100%;
  margin: 0;
  padding: 2.5rem;
  width: 100%;
}
@media screen and (min-width: 850px) {
  main.main .home-info,
  section.home-entry-columns .entry-header {
    max-height: 36.25rem;
  }
  section.home-entry-columns {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  section.home-entry-columns .entry-header,
  section.home-entry-columns .entry-content {
    max-width: 50%;
  }
}
a {
  color: #ed0c14;
}
.logo a,
.nav {
  font-weight: 900;
  font-size: 34px;
  color: black;
}
.logo a:hover,
.nav,
#menu a:hover {
  color: #ed0c14;
}
.header {
  padding: 20px;
}
#menu a {
  font-size: 22px;
  font-weight: 900;
  color: black;
}
#menu .active {
  font-weight: 900;
}
p,
.post-description {
  font-size: 20px;
}
.post-description {
  font-style: italic;
}
h1 {
  font-size: 28px;
}
.post-title {
  font-size: 32px;
}
.img-wrap {
  width: 100%;
}
article.post-single {
  margin: auto var(--gap);
}
.post-content a, .toc a:hover {
  box-shadow: 0 0px;
}