:root {
  --theme: #f6f4f2;
  --code-bg: #f6f4f2;
  --entry: rgb(238 237 235);
  --primary: rgb(0, 0, 0);
  --secondary: rgb(0, 0, 0);
  --content: rgb(0, 0, 0);
}
main.main,
article.post-single {
  display: grid;
  grid-auto-rows: min-content;
  margin: 0 auto;
}
main.main {
  grid-template-columns:
    minmax(2rem, 1fr) minmax(
      19.1875rem,
      calc(var(--main-width) + var(--gap) * 2)
    )
    minmax(2rem, 1fr);
  margin: 0 auto;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  padding: var(--gap) 0;
}
main.main > *,
article.post-single > * {
  grid-column: 2 / 3;
}
main.main .post-entry {
  margin: 0 auto var(--gap);
  max-width: calc(var(--main-width) + var(--gap) * 2);
}
article.post-single {
  grid-column: 1 / 4;
  grid-template-columns:
    minmax(2rem, 1fr) minmax(19.1875rem, 45rem)
    minmax(2rem, 1fr);
  margin: 0 !important;
}
article.post-single > .entry-cover {
  grid-column: 1 / 4;
}
main.main .home-info,
section.home-entry-columns .entry-header picture {
  min-height: 20rem;
}
section.home-entry-columns .entry-header picture img {
  width: 100%;
}
main.main .home-info {
  justify-self: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
main.main .home-info .entry-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.home-entry-columns .entry-header,
section.home-entry-columns .entry-content {
  height: auto !important;
}
section.home-entry-columns {
  align-items: flex-start;
  background-color: #eeedeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: 32rem; */
  width: 100%;
}
section.home-entry-columns .entry-content {
  height: 100%;
  margin: 0;
  padding: 2.5rem;
  width: 100%;
}
a {
  color: #ed0c14;
}
.logo a,
.nav {
  font-weight: 900;
  font-size: 34px;
  color: black;
}
.logo a:hover,
.nav,
#menu a:hover {
  color: #ed0c14;
}
.social-icons {
  text-align: center;
  padding: 25px 0;
}
.social-icons a svg {
  color: black;
}
.header {
  padding-top: 40px;
}
.post-header {
  margin: unset;
}
#menu a {
  font-size: 24px;
  font-weight: 900;
  color: black;
}
#menu .active {
  font-weight: 900;
}
@media screen and (min-width: 601px) {
  p,
  .post-description,
  li {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  p,
  .post-description,
  li {
    font-size: 16px;
  }
}
.post-description {
  font-style: italic;
}
h1,
.page-header h1 {
  font-size: 32px;
}
.post-title {
  font-size: 32px;
}
.img-wrap {
  width: 100%;
}
.post-content picture img {
  width: 100%;
}
article.post-single {
  margin: auto var(--gap);
}
.post-content a,
.toc a:hover {
  box-shadow: 0 0px;
}
.toc {
  margin: unset;
}
section.home-entry-columns .entry-header picture,
.entry-cover picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  overflow: hidden;
}
section.home-entry-columns .entry-header picture img,
.entry-cover picture img {
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.entry-cover picture {
  max-height: 40rem;
}
.entry-cover picture img {
  border-radius: 0;
}
@media screen and (min-width: 850px) {
  main.main {
    padding: var(--gap);
  }
  main.main .home-info {
    grid-column: 1 / 4;
  }
  section.home-entry-columns {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  section.home-entry-columns .entry-header,
  section.home-entry-columns .entry-content {
    height: 100% !important;
    max-width: 50%;
  }
  section.home-entry-columns .entry-header picture,
  .entry-cover picture {
    height: 100%;
  }
  section.home-entry-columns .entry-header picture img,
  .entry-cover picture img {
    height: 100%;
  }
}
