<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "font-preloading.html" . }}
    {{ $fonts := resources.Get "css/fonts.css" | resources.ExecuteAsTemplate "css/font-loading.css" . }}
    {{ $fontsStyles := $fonts | postCSS }}
    {{ $rawCSS := $fontsStyles.Content | safeCSS }}
    <style>{{ $rawCSS }}</style>
    {{- partial "head.html" . }}
    {{- partial "font-swap.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main" data-home="{{ .IsHome }}">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
