<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
<style>
:root {
    --theme: #F6F4F2;
    --code-bg: #F6F4F2;
    --entry: rgb(238 237 235);
}
.logo a, .nav {
    font-weight:900;
    font-size: 34px;
}
.header {
    padding: 20px;
}
#menu a {
    font-size: 22px;
    font-weight:900;
}
p, .post-description {
    font-size: 20px;
}
* {
    font-family: 'Source Serif Pro', serif;
}
</style>
</head>